<html>
<head>
    <meta charset="UTF-8" />
    <title>커피 정보</title>
    <h1 style="color:burlywood;">202012701 PIK 9주차 (커피 정보)</h1>
</head>
<body>
        <h2><%= data.name %></h2>
        <ul>
            <li>커피 용량 : <%= data.volume %>  </li>
            <li>커피 칼로리 : <%= data.calorie %>  </li>
            <li>커피 카페인 : <%= data.caffeine %>  </li>
            <li>커피 이미지 :<br><br>
            <img src="/<%= image.image %> " height="200px" width="200px" style="border: 5px solid;"/></li>
        </ul>
        <br> <br>
        <form name="input" method="POST" action="../Coffee/delete/<%= data.id %>">
            <input type="button" value="커피 리스트" onclick="location.href='http://localhost:3000/Coffee'">
            <input type="button" value="커피 정보 수정" onclick="location.href='http://localhost:3000/Coffee/update/<%= data.id %>'">
            <input type="submit" value="삭제">
        </form>  
</body>
</html>